<div class="post-navigation">
	<div class="nav-next">
	{% if page.next %}
	  <a href="{{ site.baseurl }}{{ page.next.url }}" title="{{ page.next.title }}">
		<span><</span>上一篇：{{ page.next.title }}
	  </a>
	{% else%}
	  <span>已是第一篇</span> 
	{% endif %}
	</div>

	<div class="back-to-top">
		<a href="#top">
			<i class="fa fa-arrow-up"></i>
		</a>    
	</div>

	<div class="nav-previous">
	{% if page.previous %}
	  <a href="{{ site.baseurl }}{{ page.previous.url }}" title="{{ page.previous.title }}">
		下一篇：{{ page.previous.title }}<span>></span>
	  </a>
	{% else %}
	  <span>已是最后一篇</span> 
	{% endif %}
	</div>
</div>