<div class="post-navigation">
	<div class="nav-next">
	{% if page.next %}
	  <a href="{{ site.baseurl }}{{ page.next.url }}" title="{{ page.next.title }}">
			<i class="fas fa-angle-left"></i> 上一篇：{{ page.next.title }}
	  </a>
	{% else%}
	  <span></span> 
	{% endif %}
	</div>

	<div class="back-to-top">
		<a href="#top">
			<i class="fas fa-angle-double-up"></i>
		</a>    
	</div>

	<div class="nav-previous">
	{% if page.previous %}
	  <a href="{{ site.baseurl }}{{ page.previous.url }}" title="{{ page.previous.title }}">
		下一篇：{{ page.previous.title }} <i class="fas fa-angle-right"></i>
	  </a>
	{% else %}
	  <span></span> 
	{% endif %}
	</div>
</div>