/*------basic-style-----*/
*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color:#333;
    background:#fff;
    -ms-text-size-adjust:100%;
    text-rendering:optimizelegibility
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

.tag ul {
    list-style: none;
}

nav ul li, footer ul li, .tag ul li {
    display: inline;
    margin-right: 20px;
}

ul.posts li {
    list-style: none;
}

h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: 100;
}
p {
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 1.2em;
    color: #333;
}

blockquote {
    margin: 40px auto;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 4px solid #33A6B8;
    line-height: 1.6;
    position: relative;
    background: #ededed;
}

blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: #33A6B8;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}
  
blockquote::after {
    content: "";
}

.footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

.container {
    width: 60%;
    margin: 0 auto;
    position: relative;
    line-height: 2;
    text-align: left;
    font-size: 16px;
    padding-top: 50px
}

@media only screen and (max-width:640px) {
    .container {
        width: 80%;
    }
    p {
        font-size: 18px;
    }
}

.tag {
    display: block;
    font-size: 22px;
    font-weight: 100;
}

.container .main-nav-link, 
.container .footer .footer-link, 
.container .post-navigation .post-nav-link,
.container .back-to-top a,
.container .tag .tag-link {
    text-decoration: none;
    color: #999;
}

.container a {
    display: inline-block;
    text-decoration: none;
    color: #222;
}

.container a:hover,
.container .main-nav-link:hover, 
.container .footer .footer-link:hover, 
.container .post-navigation .post-nav-link:hover,
.container .tag .tag-link:hover {
    color: #22c5e5;
    transition:color .1s linear
}

.container .footer .footer-link:hover {
    text-decoration: underline;
}

.container .post a {
    border-bottom:1px solid #1abc9c;
}

.container .post a:hover {
    border-bottom-color:#999;
    color:#999;
}

.container .article-title-date {
    display: inline-block;
    font-size: 80%;
}

.date, .container .article-title-date {
    color: #888;
}

/*------MathJax-style-----*/
.MathJax_Display {
    font-size: 20px;
    line-height: 1.4em;
}

/*------post-navigation-style-----*/
.post-navigation{
    display: table;
    width: 100%;
}

.nav-previous, .nav-next {
    display: table-cell;
    width: 50%;
    vertical-align: top;
}

.nav-previous{
    text-align:right;
}
.nav-next{
    text-align:left;
}

.back-to-top{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
    position: relative;
    font-size: 16px;
}