/*------basic-style-----*/
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color:#333;
    background:#fff;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    text-rendering:optimizelegibility
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

ul.posts li {
    list-style: none;
}

h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: 100;
}
p {
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 1.2em;
    color: #333;
}

.footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

.container {
    width: 60%;
    margin: 0 auto;
    position: relative;
    line-height: 2;
    text-align: left;
    font-size: 16px;
    padding-top: 50px
}

@media only screen and (max-width:640px) {
    .container {
        width: 80%;
    }
    p {
        font-size: 18px;
    }
}

.tag {
    display: inline-block;
    font-size: 22px;
}

.container .main-nav-link, 
.container .footer .footer-link, 
.container .post-navigation .post-nav-link,
.container .tag .tag-link {
    text-decoration: none;
    color: #999;
}

.container a {
    display: inline-block;
    text-decoration: none;
    color: #222;
}

.container a:hover,
.container .main-nav-link:hover, 
.container .footer .footer-link:hover, 
.container .post-navigation .post-nav-link:hover,
.container .tag .tag-link:hover {
    text-decoration: underline;
    color: #777;
    transition: color 200ms;
}

.container .article-title-date {
    display: inline-block;
    font-size: 80%;
}

.date, .container .article-title-date {
    color: #888;
}

/*------MathJax-style-----*/
.MathJax_Display {
    font-size: 20px;
    line-height: 1.4em;
}

/*------post-navigation-style-----*/
.post-navigation{
    display: table;
    width: 100%;
}

.nav-previous{
    display: table-cell;
    width: 45%;
    text-align:right;
}
.nav-next{
    display: table-cell;
    width: 45%;
    text-align:left;
}

.back-to-top{
    display: table-cell;
    width: 10%;
    text-align: center;
}